<div class="py-5 mx-5">
  <h1 class="fw-bold text-danger lh-base">{{detailPro.name}}</h1>
  <div class="w-100 d-flex justify-content-between flex-wrap my-0 mx-auto">
    <div style="width: 64%;">
      <ul class="d-flex flex-wrap p-0 m-0">
        <li class="py-2 px-5 fs-6 fw-bold bg-body-tertiary border border-bottom-0 border-end-0"
          style="list-style: none;">
          <a class="details__hover text-decoration-none text-dark" href="#chitiet">Chi Tiết</a>
        </li>
        <li class="py-2 px-5 fs-6 fw-bold bg-body-tertiary border border-bottom-0 border-end-0"
          style="list-style: none;">
          <a class="details__hover text-decoration-none text-dark" href="#hanhtrinh">Hành Trình</a>
        </li>
        <li class="py-2 px-5 fs-6 fw-bold bg-body-tertiary border border-bottom-0 border-end-0"
          style="list-style: none;">
          <a class="details__hover text-decoration-none text-dark" href="#vitri">Vị Trí</a>
        </li>
        <li class="py-2 px-5 fs-6 fw-bold bg-body-tertiary border border-bottom-0" style="list-style: none;">
          <a class="details__hover text-decoration-none text-dark" href="#anh">Ảnh</a>
        </li>
      </ul>

      <div class="d-flex flex-wrap">
        <div class="w-100 d-flex align-items-center gap-2 py-3 px-4 border">
          <i class="bi bi-clock fs-3 text-danger"></i>
          <div>
            <h5 class="fw-bold m-0 lh-sm" style="font-size: 15px;">1 Ngày</h5>
            <p class="text-secondary m-0 lh-base" style="font-size: 13px;">Khoảng Thời Gian</p>
          </div>
        </div>
        <div class="w-100 d-flex align-items-center gap-2 py-3 px-4 border">
          <i class="bi bi-heart-pulse fs-3 text-danger"></i>
          <div>
            <h5 class="fw-bold m-0 lh-sm" style="font-size: 15px;">Không Yêu Cầu</h5>
            <p class="text-secondary m-0 lh-base" style="font-size: 13px;">Thể Chất</p>
          </div>
        </div>
        <div class="w-100 d-flex align-items-center gap-2 py-3 px-4 border">
          <i class="bi bi-globe-americas fs-3 text-danger"></i>
          <div>
            <h5 class="fw-bold m-0 lh-sm" style="font-size: 15px;">Du Lịch Bắc Trung Bộ</h5>
            <p class="text-secondary m-0 lh-base" style="font-size: 13px;">Vị Trí</p>
          </div>
        </div>
        <div class="w-100 d-flex align-items-center gap-2 py-3 px-4 border">
          <i class="bi bi-person fs-3 text-danger"></i>
          <div>
            <h5 class="fw-bold m-0 lh-sm" style="font-size: 15px;">Không Bắt Buộc +</h5>
            <p class="text-secondary m-0 lh-base" style="font-size: 13px;">Tuổi Tác</p>
          </div>
        </div>
        <div class="w-100 d-flex align-items-center gap-2 py-3 px-4 border">
          <i class="bi bi-calendar-check fs-3 text-danger"></i>
          <div>
            <h5 class="fw-bold m-0 lh-sm" style="font-size: 15px;">Thứ Ba, Tháng Hai</h5>
            <p class="text-secondary m-0 lh-base" style="font-size: 13px;">Ngày</p>
          </div>
        </div>
      </div>

      <div id="chitiet" class="border rounded-bottom border-top-0 pt-3 px-4 pb-0">
        <h2 class="fs-4 fw-bold mb-4">Ngắm Nhìn Cảnh Đẹp Núi Rừng</h2>
        <p class="text-secondary lh-base" style="font-size: 15px;">
          Du lịch Bắc Hà Nội - Chùa Tam Chúc - Tam Cốc 1 ngày từ Hà Nội 2023. Trong đời sống tâm linh của người Việt,
          chùa là nơi vô cùng linh thiêng và được tôn kính. Người ta đến chùa không chỉ để cầu may mắn, tìm sự bình
          yên, thanh thản mà còn để trở về cội nguồn dân tộc.
        </p>
        <div>
          <div class="d-flex flex-wrap justify-content-between align-items-center py-4 px-0 border-top">
            <h5 class="w-50 fw-bold text-secondary" style="font-size: 15px;">Địa điểm khởi hành / Trở về</h5>
            <p class="w-50 text-secondary lh-base" style="font-size: 15px;">Hà Nội</p>
          </div>
          <div class="d-flex flex-wrap justify-content-between align-items-center py-4 px-0 border-top">
            <h5 class="w-50 fw-bold text-secondary" style="font-size: 15px;">Giờ khởi hành</h5>
            <p class="w-50 text-secondary lh-base" style="font-size: 15px;">Hằng ngày</p>
          </div>
          <div class="d-flex flex-wrap justify-content-between align-items-center py-4 px-0 border-top">
            <h5 class="w-50 fw-bold text-secondary" style="font-size: 15px;">Địa điểm khởi hành / Trở về</h5>
            <ul class="w-50 d-flex flex-wrap p-0">
              <li class="w-50 text-secondary d-flex" style="font-size: 15px; list-style: none;">
                <i class="bi bi-check-lg text-success me-1 fs-5"></i>
                <p class="text-secondary lh-base mt-1 m-0">Vé máy bay</p>
              </li>
              <li class="w-50 text-secondary d-inline-flex" style="font-size: 15px; list-style: none;">
                <i class="bi bi-check-lg text-success me-1 fs-5"></i>
                <p class="text-secondary lh-base mt-1 m-0">Hướng dẫn viên chuyên nghiệp</p>
              </li>
              <li class="w-50 text-secondary d-flex" style="font-size: 15px; list-style: none;">
                <i class="bi bi-check-lg text-success me-1 fs-5"></i>
                <p class="text-secondary lh-base mt-1 m-0">Chỗ ở</p>
              </li>
            </ul>
          </div>
          <div class="d-flex flex-wrap justify-content-between align-items-center py-3 px-0 border-top">
            <h5 class="w-50 fw-bold text-secondary" style="font-size: 15px;">Địa điểm khởi hành / Trở về</h5>
            <ul class="w-50 d-flex flex-wrap p-0 m-0">
              <li class="w-50 text-secondary d-flex" style="font-size: 15px; list-style: none;">
                <i class="bi bi-x text-danger fs-4"></i>
                <p class="text-secondary lh-base m-0 mt-2">Vận tải</p>
              </li>
              <li class="w-50 text-secondary d-flex" style="font-size: 15px; list-style: none;">
                <i class="bi bi-x text-danger fs-4"></i>
                <p class="text-secondary lh-base m-0 mt-2">Phí vào cửa</p>
              </li>
              <li class="w-50 text-secondary d-flex" style="font-size: 15px; list-style: none;">
                <i class="bi bi-x text-danger fs-4"></i>
                <p class="text-secondary lh-base m-0 mt-2">Tiền thưởng hướng dẫn</p>
              </li>
              <li class="w-50 text-secondary d-flex" style="font-size: 15px; list-style: none;">
                <i class="bi bi-x text-danger fs-4"></i>
                <p class="text-secondary lh-base m-0 mt-2">Vận chuyển sân bay</p>
              </li>
              <li class="w-50 text-secondary d-flex" style="font-size: 15px; list-style: none;">
                <i class="bi bi-x text-danger fs-4"></i>
                <p class="text-secondary lh-base m-0 mt-2">Bảo hiểm</p>
              </li>
            </ul>
          </div>
          <div class="d-flex flex-wrap align-items-center py-4 px-0 border-top">
            <p class="text-secondary lh-base m-0" style="font-size: 15px;">
              Đi chùa đã trở thành việc làm không thể thiếu của nhiều người Việt mỗi dịp Tết, xuân. Tam Cốc có nghĩa
              là Ba hang hay còn gọi là động Xuyên Thủy, nằm ở xã Ninh Hải, Hoa Lư. Trước đây, khu vực này là biển
              sóng qua nhiều thế kỷ bào mòn các vách đá tạo nên những hình thù kỳ lạ.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div style="width: 34%;">
      <div class="bg-body-tertiary rounded border p-3 mb-4">
        <h3 class="fs-5 fw-bold lh-base mb-3">Đặt Một Chuyến Du Lịch</h3>
        <form name="fmrCart">
          <div class="form-group d-flex flex-wrap justify-content-between align-items-center mb-4">
            <label class="fs-6 fw-medium">Đăng ký vào:</label>
            <input type="date" class="form-control text-body-secondary" style="width: 300px;" required name="txtCheckin"
              ng-model="checkin">
            <label ng-show="fmrCart.txtCheckin.$invalid" class="text-danger">* Bạn chưa chọn ngày Đăng
              ký</label>
          </div>
          <div class="form-group d-flex flex-wrap justify-content-between align-items-center mb-4">
            <label class="fs-6 fw-medium">Thanh toán vào:</label>
            <input type="date" class="form-control text-body-secondary" style="width: 300px;" required
              name="txtCheckout" ng-model="checkout">
            <label ng-show="fmrCart.txtCheckout.$invalid" class="text-danger">* Bạn chưa chọn ngày Thanh
              toán</label>
          </div>
          <div class="form-group d-flex flex-wrap justify-content-between align-items-center mb-4">
            <label class="fs-6 fw-medium">Người lớn:</label>
            <select class="form-control text-body-secondary" style="width: 300px;" required name="cboAdult"
              ng-model="adult">
              <option value>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
            <label ng-show="fmrCart.cboAdult.$invalid" class="text-danger">* Bạn chưa chọn số lượng Người
              lớn</label>
          </div>
          <div class="form-group d-flex flex-wrap justify-content-between align-items-center mb-4">
            <label class="fs-6 fw-medium">Trẻ em:</label>
            <select class="form-control text-body-secondary" style="width: 300px;" required name="cboChild"
              ng-model="child">
              <option value>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
            <label ng-show="fmrCart.cboChild.$invalid" class="text-danger">* Bạn chưa chọn số lượng Trẻ
              em</label>
          </div>
          <div class="form-group d-flex flex-wrap justify-content-between align-items-center mb-4">
            <label class="fs-6 fw-medium">Họ và tên:</label>
            <input type="text" class="form-control text-body-secondary" style="width: 300px;" required name="txtName"
              ng-model="name">
            <label ng-show="fmrCart.txtName.$invalid" class="text-danger">* Bạn chưa nhập Họ và tên</label>
          </div>
          <div class="form-group d-flex flex-wrap justify-content-between align-items-center mb-4">
            <label class="fs-6 fw-medium">Quốc gia:</label>
            <select class="form-control text-body-secondary" style="width: 300px;" required name="cboCountry"
              ng-model="country">
              <option value="">Chọn quốc gia</option>
              <option value="USA">USA</option>
              <option value="Canada">Canada</option>
              <option value="Afghanistan">Afghanistan </option>
              <option value="Albania">Albania</option>
              <option value="Algeria">Algeria</option>
              <option value="American Samoa">American Samoa </option>
              <option value="Andorra">Andorra </option>
              <option value="Angola">Angola </option>
              <option value="Anguilla">Anguilla </option>
              <option value="Antarctica">Antarctica </option>
              <option value="Antigua and Barbuda">Antigua and Barbuda </option>
              <option value="Argentina">Argentina</option>
              <option value="Armenia">Armenia</option>
              <option value="Aruba">Aruba </option>
              <option value="Australia">Australia</option>
              <option value="Austria">Austria</option>
              <option value="Azerbaijan">Azerbaijan </option>
              <option value="Bahamas">Bahamas </option>
              <option value="Bahrain">Bahrain</option>
              <option value="Bangladesh">Bangladesh</option>
              <option value="Barbados">Barbados </option>
              <option value="Belarus">Belarus</option>
              <option value="Belgium">Belgium</option>
              <option value="Belize">Belize </option>
              <option value="Benin">Benin </option>
              <option value="Bermuda">Bermuda</option>
              <option value="Bhutan">Bhutan </option>
              <option value="Bolivia">Bolivia</option>
              <option value="Bosnia and Herzegovina">Bosnia and Herzegovina </option>
              <option value="Botswana">Botswana </option>
              <option value="Bouvet Island">Bouvet Island </option>
              <option value="Brazil">Brazil</option>
              <option value="British Indian Ocean Territory ">British Indian Ocean Territory </option>
              <option value="British Virgin Islands ">British Virgin Islands </option>
              <option value="Brunei">Brunei</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Burkina Faso ">Burkina Faso </option>
              <option value="Burundi ">Burundi </option>
              <option value="Cambodia">Cambodia</option>
              <option value="Cameroon ">Cameroon </option>
              <option value="Cape Verde ">Cape Verde </option>
              <option value="Cayman Islands ">Cayman Islands </option>
              <option value="Central African Republic">Central African Republic</option>
              <option value="Chad">Chad</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="Chile">Christmas Island </option>
              <option value="Cocos Islands ">Cocos Islands </option>
              <option value="Colombia ">Colombia </option>
              <option value="Comoros ">Comoros </option>
              <option value="Congo ">Congo </option>
              <option value="Cook Islands ">Cook Islands </option>
              <option value="Costa Rica ">Costa Rica </option>
              <option value="Croatia">Croatia</option>
              <option value="Cuba">Cuba</option>
              <option value="Cyprus ">Cyprus </option>
              <option value="Czech Republic">Czech Republic</option>
              <option value="Denmark">Denmark</option>
              <option value="Djibouti">Djibouti</option>
              <option value="Dominica">Dominica</option>
              <option value="Dominican Republic">Dominican Republic</option>
              <option value="East Timor">East Timor</option>
              <option value="Ecuador">Ecuador</option>
              <option value="Egypt">Egypt</option>
              <option value="El Salvador">El Salvador</option>
              <option value="Equatorial Guinea">Equatorial Guinea</option>
              <option value="Eritrea">Eritrea</option>
              <option value="Estonia">Estonia</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Falkland Islands ">Falkland Islands </option>
              <option value="Faroe Islands">Faroe Islands</option>
              <option value="Fiji">Fiji</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="Gabon">Gabon</option>
              <option value="Gambia">Gambia</option>
              <option value="Georgia">Georgia</option>
              <option value="Germany">Germany</option>
              <option value="Ghana">Ghana</option>
              <option value="Gibraltar">Gibraltar</option>
              <option value="Greece">Greece</option>
              <option value="Greenland">Greenland</option>
              <option value="Grenada">Grenada</option>
              <option value="Guadeloupe">Guadeloupe</option>
              <option value="Guam">Guam</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Guinea">Guinea</option>
              <option value="Guinea-Bissau">Guinea-Bissau</option>
              <option value="Guyana">Guyana</option>
              <option value="Haiti">Haiti</option>
              <option value="Heard">Heard</option>
              <option value="Honduras">Honduras</option>
              <option value="Hong Kong">Hong Kong</option>
              <option value="Hungary">Hungary</option>
              <option value="Iceland">Iceland</option>
              <option value="India">India</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Iran">Iran</option>
              <option value="Iraq">Iraq</option>
              <option value="Ireland">Ireland</option>
              <option value="Israel">Israel</option>
              <option value="Italy">Italy</option>
              <option value="Ivory Coast">Ivory Coast</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Japan">Japan</option>
              <option value="Jordan">Jordan</option>
              <option value="Kazakhstan">Kazakhstan</option>
              <option value="Kenya">Kenya</option>
              <option value="Kiribati">Kiribati</option>
              <option value="Korea, North">Korea, North</option>
              <option value="Korea, South">Korea, South</option>
              <option value="Kuwait">Kuwait</option>
              <option value="Kyrgyzstan">Kyrgyzstan</option>
              <option value="Laos">Laos</option>
              <option value="Latvia">Latvia</option>
              <option value="Lebanon">Lebanon</option>
              <option value="Lesotho">Lesotho</option>
              <option value="Liberia">Liberia</option>
              <option value="Libya">Libya</option>
              <option value="Liechtenstein">Liechtenstein</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Macau">Macau</option>
              <option value="Macedonia">Macedonia</option>
              <option value="Madagascar">Madagascar</option>
              <option value="Malawi">Malawi</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Maldives">Maldives</option>
              <option value="Mali">Mali</option>
              <option value="Malta">Malta</option>
              <option value="Marshall Islands">Marshall Islands</option>
              <option value="Martinique">Martinique</option>
              <option value="Mauritania">Mauritania</option>
              <option value="Mauritius">Mauritius</option>
              <option value="Mayotte">Mayotte</option>
              <option value="Mexico">Mexico</option>
              <option value="Micronesia">Micronesia</option>
              <option value="Moldova">Moldova</option>
              <option value="Monaco">Monaco</option>
              <option value="Mongolia">Mongolia</option>
              <option value="Montserrat">Montserrat</option>
              <option value="Morocco">Morocco</option>
              <option value="Mozambique">Mozambique</option>
              <option value="Myanmar">Myanmar</option>
              <option value="Namibia">Namibia</option>
              <option value="Nauru">Nauru</option>
              <option value="Nepal">Nepal</option>
              <option value="Netherlands">Netherlands</option>
              <option value="Netherlands Antilles">Netherlands Antilles</option>
              <option value="New Caledonia">New Caledonia</option>
              <option value="New Zealand">New Zealand</option>
              <option value="Nicaragua">Nicaragua</option>
              <option value="Niger">Niger</option>
              <option value="Nigeria">Nigeria</option>
              <option value="Niue">Niue</option>
              <option value="Norfolk Island">Norfolk Island</option>
              <option value="Northern Mariana Islands">Northern Mariana Islands</option>
              <option value="Norway">Norway</option>
              <option value="Oman">Oman</option>
              <option value="Pakistan">Pakistan</option>
              <option value="Palau">Palau</option>
              <option value="Panama">Panama</option>
              <option value="Papua New Guinea">Papua New Guinea</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Peru">Peru</option>
              <option value="Philippines">Philippines</option>
              <option value="Pitcairn Island">Pitcairn Island</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Puerto Rico">Puerto Rico</option>
              <option value="Qatar">Qatar</option>
              <option value="Reunion">Reunion</option>
              <option value="Romania">Romania</option>
              <option value="Russia">Russia</option>
              <option value="Rwanda">Rwanda</option>
              <option value="S.Georgia">S.Georgia</option>
              <option value="Saint Kitts Nevis">Saint Kitts Nevis</option>
              <option value="Saint Lucia">Saint Lucia</option>
              <option value="Saint Vincent">Saint Vincent</option>
              <option value="Samoa">Samoa</option>
              <option value="San Marino">San Marino</option>
              <option value="Sao Tome">Sao Tome</option>
              <option value="Saudi Arabia">Saudi Arabia</option>
              <option value="Senegal">Senegal</option>
              <option value="Seychelles">Seychelles</option>
              <option value="Sierra Leone">Sierra Leone</option>
              <option value="Singapore">Singapore</option>
              <option value="Slovakia">Slovakia</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Somalia">Somalia</option>
              <option value="South Africa">South Africa</option>
              <option value="Spain">Spain</option>
              <option value="Sri Lanka">Sri Lanka</option>
              <option value="St. Helena">St. Helena</option>
              <option value="St. Pierre">St. Pierre</option>
              <option value="Sudan">Sudan</option>
              <option value="Suriname">Suriname</option>
              <option value="Svalbard">Svalbard</option>
              <option value="Swaziland">Swaziland</option>
              <option value="Sweden">Sweden</option>
              <option value="Switzerland">Switzerland</option>
              <option value="Syria">Syria</option>
              <option value="Taiwan">Taiwan</option>
              <option value="Tajikistan">Tajikistan</option>
              <option value="Tanzania">Tanzania</option>
              <option value="Thailand">Thailand</option>
              <option value="Togo">Togo</option>
              <option value="Tokelau">Tokelau</option>
              <option value="Tonga">Tonga</option>
              <option value="Trinidad">Trinidad</option>
              <option value="Tunisia">Tunisia</option>
              <option value="Turkey">Turkey</option>
              <option value="Turkmenistan">Turkmenistan</option>
              <option value="Turks">Turks</option>
              <option value="Tuvalu">Tuvalu</option>
              <option value="Uganda">Uganda</option>
              <option value="Ukraine">Ukraine</option>
              <option value="United Arab Emirates">United Arab Emirates</option>
              <option value="United Kingdom">United Kingdom </option>
              <option value="Uruguay">Uruguay</option>
              <option value="Uzbekistan">Uzbekistan</option>
              <option value="Vanuatu">Vanuatu</option>
              <option value="Vatican City">Vatican City</option>
              <option value="Venezuela">Venezuela</option>
              <option value="Vietnam">Việt Nam</option>
              <option value="Virgin Islands">Virgin Islands </option>
              <option value="Wallis">Wallis</option>
              <option value="Western Sahara">Western Sahara </option>
              <option value="Yemen">Yemen</option>
              <option value="Yugoslavia">Yugoslavia</option>
              <option value="Zaire">Zaire</option>
              <option value="Zambia">Zambia</option>
              <option value="Zimbabwe">Zimbabwe</option>
              <option value="Other">Khác</option>
            </select>
            <label ng-show="fmrCart.cboCountry.$invalid" class="text-danger">* Bạn chưa chọn Quốc
              gia</label>
          </div>
          <div class="form-group d-flex flex-wrap justify-content-between align-items-center mb-4">
            <label class="fs-6 fw-medium">Số điện thoại:</label>
            <input type="text" class="form-control text-body-secondary" style="width: 300px;" minlength="10"
              maxlength="10" required name="txtPhoneNumber" ng-model="phoneNumber">
            <label ng-show="fmrCart.txtPhoneNumber.$invalid" class="text-danger">* Bạn chưa nhập Số điện
              thoại</label>
          </div>
          <div class="form-group d-flex flex-wrap justify-content-between align-items-center mb-4">
            <label class="fs-6 fw-medium">Email:</label>
            <input type="email" class="form-control text-body-secondary" style="width: 300px;" required name="txtEmail"
              ng-model="email">
            <label ng-show="fmrCart.txtEmail.$invalid" class="text-danger">* Bạn chưa nhập Email</label>
          </div>
          <div class="form-group d-flex flex-wrap align-items-center mb-4">
            <label class="fs-6 fw-medium" style="margin-right: 70px;">Giới tính:</label>
            <div class="d-flex">
              <input type="radio" name="gender" checked>
              <p class="m-0 ms-2 mb-1 me-3">Nam</p>
              <input type="radio" name="gender">
              <p class="m-0 ms-2 mb-1">Nữ</p>
            </div>
          </div>
          <div class="form-group d-flex flex-wrap justify-content-between align-items-center mb-4">
            <label class="fs-6 fw-medium">Địa chỉ:</label>
            <input type="text" class="form-control text-body-secondary" style="width: 300px;" required
              name="txtLocation" ng-model="location">
            <label ng-show="fmrCart.txtLocation.$invalid" class="text-danger">* Bạn chưa nhập Địa chỉ</label>
          </div>
          <div class="form-group d-flex flex-wrap justify-content-between align-items-center mb-4">
            <label class="fs-6 fw-medium">Số lượng:</label>
            <input type="number" min="1" max="100" class="form-control text-body-secondary" style="width: 300px;"
              ng-model="detailPro.quantity">
          </div>
          <div class="form-group d-flex flex-wrap justify-content-between align-items-center mb-4">
            <label class="fs-6 fw-medium text-danger">Tổng thành tiền:</label>
            <p class="m-0 ms-2 my-1 text-danger fw-bold"><span>{{detailPro.quantity * detailPro.sale | number}}</span>đ
            </p>
          </div>
          <div>
            <button type="submit" class="btn btn-danger w-100">Thanh Toán</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="my-5" id="hanhtrinh">
    <ul class="p-0">
      <li class="mb-3" style="list-style: none;">
        <a class="w-100 bg-body-tertiary border rounded fs-6 fw-bold text-dark p-3 d-flex justify-content-between text-decoration-none"
          href="" data-bs-toggle="collapse" data-bs-target="#collapse">
          Ngày 1 | {{detailPro.name}}
          <i class="bi bi-chevron-down"></i>
        </a>
        <ul class="p-0 mt-3 ps-3 collapse" id="collapse">
          <li style="list-style: none;">
            <p style="text-align: justify;">
              <strong>
                Sáng: Hà Nội - Tam Chúc (Ăn trưa) <br> <br> 07h00-07h30:
              </strong>
              Xe và hướng dẫn viên du lịch của công ty đón khách tại điểm hẹn đưa đoàn đi Hà Nam. Trên đường, dừng
              chân ăn sáng (chi phí tự túc). <br> <br>
              <strong>09h00:</strong> Quý khách tham quan Chùa Tam Chúc - Ngôi chùa linh thiêng được xây dựng với hàng
              nghìn bức tranh đá tỉ mỉ, cẩn thận được lắp ghép bởi bàn tay tài hoa của những người thợ lành nghề. Sau
              đó quý khách tham quan chùa Ngọc. Chùa Ngọc nằm trên đỉnh núi Thất Tinh, đây là một trong những hạng mục
              chính của chùa Tam Chúc. Để có thể chiêm ngưỡng ngôi chùa này bạn sẽ phải vượt qua 200 bậc đá. Đứng trên
              chùa Ngọc bạn sẽ được chiêm ngưỡng một khung cảnh rộng lớn, vô cùng yên bình và tự do. Quý khách tiếp
              tục chiêm ngưỡng vẻ đẹp của điện Tam Bảo, chùa Thích Ca Mâu Ni, chùa Quan Âm. và Vườn Cột. <br> <br>
              <strong>11h30:</strong> Quý khách lên xe đi Ninh Bình, đến khu du lịch Tam Cốc - Bích Động. <br> <br>
              <strong>12h30:</strong> Ăn trưa tại nhà hàng với các món ăn truyền thống của Ninh Bình… <br> <br>
              <strong>13h30-13h45: </strong>Lên thuyền tham quan Tam Cốc. Tam Cốc có nghĩa là ba hang: hang Cả, hang
              Hai và hang Ba. Tam Cốc là một trong những địa danh nổi tiếng của Ninh Bình cũng như cả nước. Chuyến đi
              thuyền đến nơi đây được ví như vịnh Hạ Long trên cạn, phong cảnh hữu tình, nhẹ nhàng và thanh bình. Khi
              thuyền đưa bạn vào động, bạn sẽ có cảm giác mát lạnh, những nhũ đá từ trần hang rủ xuống những khối lồi
              óng ánh như những viên ngọc huyền ảo. <br> <br>
              <strong>16h00-16h30: </strong>Lên xe trở về Hà Nội. <br> <br>
              <strong>18h30-19h00: </strong>Về lại Hà Nội. Chia tay đoàn kết thúc hành trình Hoa Lư - Tam Cốc 1 ngày
              đầy niềm vui.
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="w-100" id="vitri">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.6110406979969!2d106.62521471121981!3d10.853782858768128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752b6c59ba4c97%3A0x535e784068f1558b!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1705413743438!5m2!1svi!2s"
      width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="w-100 my-5 position-relative" id="anh">
    <div class="overflow-hidden rounded">
      <div class="perfect__destinations">
        <a class="text-decoration-none" href="{{detailPro.image}}">
          <img class="rounded" src="{{detailPro.image}}" width="100%" alt=""
            style="height: 550px; background-position: center; object-fit: cover;">
        </a>
      </div>
      <div class="w-100 my-3 d-flex gap-3">
        <div class="perfect__destinations" style="width: 20%;">
          <a class="text-decoration-none" href="./images/chua-tam-chuc-1-1512-5.jpg">
            <img class="object-fit-cover rounded" src="./images/chua-tam-chuc-1-1512-5.jpg" width="100%" alt=""
              style="height: 250px; background-position: center;">
          </a>
        </div>
        <div class="perfect__destinations" style="width: 20%;">
          <a class="text-decoration-none" href="./images/chua-Tam-Chuc-60-@nhimsoc13.jpg">
            <img class="object-fit-cover rounded" src="./images/chua-Tam-Chuc-60-@nhimsoc13.jpg" width="100%" alt=""
              style="height: 250px; background-position: center;">
          </a>
        </div>
        <div class="perfect__destinations" style="width: 20%;">
          <a class="text-decoration-none" href="./images/vebay247_chuatamchu_2.jpg">
            <img class="object-fit-cover rounded" src="./images/vebay247_chuatamchu_2.jpg" width="100%" alt=""
              style="height: 250px; background-position: center;">
          </a>
        </div>
        <div class="perfect__destinations" style="width: 20%;">
          <a class="text-decoration-none" href="./images/cl3u90hsk03g201nrcjgsmpyn-fb-hoang-thi-hai-yen_full.jpg">
            <img class="object-fit-cover rounded" src="./images/cl3u90hsk03g201nrcjgsmpyn-fb-hoang-thi-hai-yen_full.jpg"
              width="100%" alt="" style="height: 250px; background-position: center;">
          </a>
        </div>
        <div class="perfect__destinations" style="width: 20%;">
          <a class="text-decoration-none" href="./images/non-nuoc-kdl-trang-an-ninh-binh-2.jpg">
            <img class="object-fit-cover rounded" src="./images/non-nuoc-kdl-trang-an-ninh-binh-2.jpg" width="100%"
              alt="" style="height: 250px; background-position: center;">
          </a>
        </div>
      </div>

    </div>
  </div>

  <div>
    <h3 class="fw-bold lh-base mb-4">Có Thể Bạn Cũng Thích</h3>
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column list__adventures shadow-sm" style="width: 32%;"
        ng-repeat="p in products | limitTo: 3">
        <div class="overflow-hidden">
          <img class="rounded-top" src="{{p.image}}" width="100%" alt="" style="max-height: 400px; object-fit: cover;">
        </div>
        <div class="bg-white px-3 py-3 rounded-bottom">
          <a class="text-decoration-none fs-5 fw-bolder text-dark lh-base text-center"
            href="#!detail/{{p.id}}">{{p.name}}</a>
          <div class="list__adventures__cart w-100 d-flex justify-content-between flex-wrap">
            <p class="text-secondary mt-3" style="font-size: 15px;"><i class="bi bi-geo-alt-fill text-danger"
                style="font-size: 12px;"></i> {{p.destination}}</p>
            <a class="text-white px-4 bg-danger rounded-1 text-decoration-none d-flex align-items-center my-2" href=""
              ng-click="addCart(p)">
              Thêm vào <i class="bi bi-cart-fill fs-6 ms-1"></i>
            </a>
          </div>
          <div class="d-flex justify-content-between border-top pt-2">
            <div class="mt-2">
              <strong>{{p.sale | number}}đ</strong>
              <span class="text-decoration-line-through text-secondary">{{p.price | number}}đ</span>
            </div>
            <div class="mt-2">
              <a class="fw-medium d-flex text-decoration-none text-dark align-items-center" href="#!detail/{{p.id}}"
                style="font-size: 15px; gap: 3px;">Khám Phá Ngay <i class="bi bi-arrow-right text-danger mt-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>